{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
</head>
<body>
  <form id='{% block form_id %}{% endblock form_id %}'>
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div>
      <button type="submit">{% block button_name %}{% endblock button_name %}</button>
    </div>
  </form>

  {% block script %}{% endblock script %}
</body>
</html>