{% extends "users/base.html" %}

{% block title %}Login{% endblock title %}

{% block button_name %}Login{% endblock button_name %}

{% block form_id %}login-form{% endblock form_id %}
  
{% block script %}
  <script>
    document.getElementById('login-form').addEventListener('submit', function(event) {
      event.preventDefault();
  
      // Récupérer les données du formulaire
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
  
      // Envoyer les données au endpoint
      fetch('api/login/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({username: username, password: password})
      })
      .then(response => response.json())
      .then(data => {
        console.log(data)
        localStorage.setItem('token', data.token);
      })
      .catch(error => {
        console.error(error);
      });
    });
  </script>
{% endblock script %} 