{{ request.user }}
<form id="register-form">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div>
      <button type="submit">Register</button>
    </div>
  </form>
  
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  
  const csrftoken = getCookie('csrftoken');
  

  document.getElementById('register-form').addEventListener('submit', function(event) {
    event.preventDefault();

    // Récupérer les données du formulaire
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    // Envoyer les données au endpoint
    fetch('api/register/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({username: username, password: password})
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
    })
    .catch(error => {
      console.error(error);
    });
  });
</script>
  